/// portafolio slider at line 109

.about-banner-text {
  padding: 100px 21%;
  h2 {
    font-size: 22px;
    color:#ffffff;
  }
  p {
    color: #ffffff;
    margin-bottom: 20px;
  }
}
.about-banner-text h2, .section.about-info-sec h3,
.about-info-sec.brands-info h3, .about-info-sec.team-info h3 {
  font-family: $primary-font-bold  !important;
  font-size: 22px;
  position: relative;
  line-height: normal;
  margin-bottom: 56px;
  &:after {
    @include separator(67px, 150%);
  }
}
.about-info-sec.team-info h3 {margin-bottom:0;}
.about-info-sec.provoke-info h3:after {
  border-color: #a3c347;
}
.about-info-sec.services-info h3:after {
  border-color: #1dadea;
}
.about-info-sec.brands-info h3:after {
  border-color: #e73640;
}
.about-info-sec.team-info h3:after {
  border-color: #8892c2;
}

.section.about-info-sec.provoke-info {
  background: #ffffff;
  margin-top: -8px !important;
  padding: 0 21%;
  h3 {margin-top: 100px;}
  p {margin-bottom: 20px;}
  p:last-child {
    margin-bottom: 61px !important;
  }
}

.section.about-info-sec {
  margin-bottom: 61px !important;
}

.services-info-row-1 {
  padding: 0 21%;
}

.services-list .services-info-row-2 {
  overflow: hidden;
  margin-top: 55px;
  padding: 0 10%;
}

.services-list .services-info-row-2 ul {
  width: 33.33%;
  float: left;
  li {
    font-family: $primary-font-medium !important;
    text-align: center;
    list-style: none;
    text-transform: uppercase;
    margin-bottom: 10px;
    strong {
      font-size: 10px;
      font-family: $primary-font-medium;
    }
  }
}

.about-info-sec.brands-info {
  background: #ffffff;
  .about-brand-heading {
    margin-top: 61px;
    padding: 0 21%;
  }
}
.about-team-heading {
  padding: 0 21%;
}

// brand image galley
.nivoSlider .nivo-main-image {
  max-width: 850px !important;
  max-height: 157px !important;
  margin: 0 auto !important;
  margin-bottom: 63px !important;
}

.nivoSlider img {
  @extend .nivo-main-image;
  left: 0 !important;
  right: 0 !important;
  margin: auto !important;
}
.nivo-controlNav {
  margin-bottom: 60px;
}

div.theme-default .nivo-controlNav a {
  margin:0;
}


// portafolio slider
.about-portafolio-slider-1{
  margin-bottom: -5px !important;
  overflow: hidden;
  //max-height: 400px !important;
  .portfolio_slider {
    max-height: 400px !important;
  }
  .portfolio_slides {
    //max-height: 400px !important;
  }
  .image_holder{
    span.image img {
      //height: 400px;
    }
  }
  .portfolio_main_holder .item_holder {
      max-height: 400px;
  }
  a#caroufredsel-next {
    right: 43px;
  }
}
div.portfolio_slider {width:100%;}
.about-portafolio-slider-1 .vc_col-sm-12,
.about-portafolio-slider-2 .vc_col-sm-12 {
  padding: 0 !important;
  #sliderOverlayBig p, #sliderOverlaySmall p {
    font-family: $primary-font-bold !important;
    font-size: 19px;
    color: #fff;
    width: 50%;
    height: 0%;
    text-align: center;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 12%;
    left: 0;
    right: 0;
      &:after {
      @include separator(67px, 30px);
    }
  }
  .pager {
    display: none !important;
  }
  .selected .fa-circle-o:before {
    content: "\f111";
  }
  .caroufredsel-direction-nav a {
    background: transparent;
    font-size: 76px;
    &:hover {background: transparent !important;}
  }
}

.about-portafolio-slider-2 .portfolio_slides li {
  max-height: 200px;
  height: 100%;
  .image_holder {height:200px;}
}

// START About - Brand section images
.about-desktop-img {
  display: block;
}
.about-mobile-img {
  display: none;
}
@include breakpoint("tablet-down") {
  .about-desktop-img {
    display: none;
  }
  .about-mobile-img {
    display: block;
  }
}
// END About - Brand section images

@media (max-width: 1200px){
  .about-portafolio-slider-1 a#caroufredsel-next {
    right: 30px;
  }

}

@media (max-width: 1124px) {
    .about-portafolio-slider-1{
    margin-bottom: -5px !important;
    overflow: hidden;
    max-height: auto !important;
    .portfolio_slider {
      max-height: 350px !important;
    }
    ul.portfolio_slides {
      max-height: auto !important;
    }
    .portfolio_main_holder .item_holder {
        max-height: 350px;
    }
  }
}

@media (max-width: 893px) {
    .about-portafolio-slider-1{
    margin-bottom: -5px !important;
    overflow: hidden;
    max-height: auto !important;
    .portfolio_slider {
      max-height: 300px !important;
    }
    ul.portfolio_slides {
      max-height: auto !important;
    }
    .portfolio_main_holder .item_holder {
        max-height: 300px;
    }
  }
}

@media (max-width: 833px){
  .wpb_content_element.services-list .services-info-row-2 ul {
    width: 100%;
  }
  .about-portafolio-slider-1{
      .portfolio_slider {
        max-height: 350px !important;
      }
      .image_holder span.image img{
        margin-top: -85px;
      }
      .portfolio_main_holder .item_holder {
          max-height: 350px !important;
      }
  }
  
}

@media (max-width: 479px){
  .about-portafolio-slider-1 .caroufredsel_wrapper {
    height: 145px !important;
  }  
}

//slick slider
.container-team-slider {
    max-width: 100%;
    margin: 0 auto;
    position: relative;
  }

  .container-team-slider:hover .slider-label {
    opacity: 0;
    visibility: none;
    z-index: 0;
  }

  .container-team-slider:hover .slider-label {
     -webkit-transition: all 0.5s;
     -moz-transition: all 0.5s;
      -ms-transition: all 0.5s;
       -o-transition: all 0.5s;
        transition: all 0.5s;
  }
  
  .container-team-slider .sp-col {
    position: relative;
    float: left;
    box-sizing: border-box;
    overflow: hidden;
    height: 200px;
  }

  .container-team-slider .sp-col:hover .text-holder {
    opacity: 1;
    background: rgba(186, 210, 117, 0.8);
    transform: scale(1);
  }

  .container-team-slider .sp-col:hover .img-holder {
    transform: scale(1.1);
  }
  
  .container-team-slider .img-holder {
    max-width: 100%;
    height: 100%;
    vertical-align: middle;
    background-size: cover;
    -webkit-transform: scale(1); /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
     -ms-transform: scale(1); /* IE 9 */
      transform: scale(1); /* IE 10, Fx 16+, Op 12.1+ */
    -webkit-transition: all 0.5s;
     -moz-transition: all 0.5s;
      -ms-transition: all 0.5s;
       -o-transition: all 0.5s;
        transition: all 0.5s;
  }

  .container-team-slider .sp-col .text-holder {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: scale(0.80);
    transition: all 0.3s;
    z-index: 9000;
    color: #fff;
  }

  .container-team-slider .text-holder-tb,
  .container-team-slider .slider-label .text-holder {
    display: table;
    width: 100%;
    height: 100%;
  }

  .container-team-slider .sp-col .text-holder .text-holder-inner,
  .container-team-slider .slider-label .text-holder .text-inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }

  .container-team-slider .slider-label {
    z-index: 2;
    background: rgba(186, 210, 117, 0.8);
    position: absolute;
    width: 100%;
    height: 100%
  }

  .container-team-slider .slider-label p {
    margin-top: -10px;
    color: #fff;
    position: relative;
    font-size: 19px;
    font-family: $primary-font-bold;
  }

  .container-team-slider .slider-label p:after {
    width: 67px;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 30px;
    bottom: 0;
    content: "";
    border-bottom: 2px solid #fff;
  }

  .container-team-slider .slick-prev {
    left: 11px;
    z-index: 1;
  }
  
  .container-team-slider .slick-prev::before{
    content: "\34";
    font-family: 'ElegantIcons' !important;
    font-size: 60px;
  }

  .container-team-slider .slick-next {
    right: 40px;
  }

  .container-team-slider .slick-next::before{
    content: "\35";
    font-family: 'ElegantIcons' !important;
    font-size: 60px;
  }
  .container-team-slider .slick-prev,
  .container-team-slider .slick-next {
    margin-top: -35px;
    &::before {
      position: absolute;
      top: 0;
      left: 0
    }
  }

  @media (max-width: 930px){
    .container-team-slider .sp-col {
      height: 180px;
    }
  }
  @media (max-width: 660px){
    .container-team-slider .sp-col {
      height: 150px;
    }
  }
  @media (max-width: 599px){
    .container-team-slider .sp-col {
      height: 200px;
    }
  }
  @media (max-width: 599px){
    .container-team-slider .sp-col {
      height: 200px;
    }
  }

  @media (max-width: 145px){
    .container-team-slider .sp-col {
      height: 193px;
    }
  }
