// Styles for blog single page

/* sp_post_page is the class defined as the main father on blog single pages */
.sp_post_page .blog_holder article .post_content_holder {
  max-width: 1000px;
  width: 647px;
  margin: 0 auto;
}

.content.sp_post_page .content_inner > .container > .container_inner.default_template_holder {
  padding-top:0;
}

.sp_post_page .title_subtitle_holder {
  width: 66%;
  margin: 0 auto;
}

.sp_post_page .blog_standard_type article .post_info {
  position: static;
  margin: 0;
}

.sp_post_page .post_tags {
  margin-bottom: 16px;
}

.logo_provoke_weekly {
  text-align: center;
  background-color: $background-color;
}

.title_subtitle_holder h1{
  word-break: normal !important;
}

.title h1 {
  line-height: 1.3;
  span {
    font-size: 30px;
  }
}

.standard_title {
  height: auto !important;
}

#Layer_1 {
  width: 160px !important;
}

// Single post tags colors

.culture-tag-name  {
  color: $culture-tag-color !important;
  border: none !important;
}
.ideas-tag-name  {
  color: $ideas-tag-color !important;
  border: none !important;
}
.brands-tag-name  {
  color: $brands-tag-color !important;
  border: none !important;
}
.tech-tag-name  {
  color: $tech-tag-color !important;
  border: none !important;
}
.entertainment-tag-name  {
  color: $entertainment-tag-color !important;
  border: none !important;
}
.all-tag-name  {
  color: $all-tag-color !important;
  border: none !important;
}
.provoke-weekly-tag-name  {
  color: $provoque-tag-color !important;
  border: none !important;
}
.dot-tags{
  color: $primary-color !important;
}
a.tags-post{
  margin: 0 !important;
  padding: 0 0 0 10px !important;
}
a.tags-post:first-child{
  padding: 0 !important;
}
a.tags-post:hover {
  background-color: $background-color !important;
  border-color: $background-color !important;
}

// this class remove all the duplicated images from post and line in between
.rtecenter, .rtecenter + p{
  display: none !important;
}

.title_holder{
  padding-top: 0 !important;
  max-height: 80px !important;
}

/* overwrited classes */

.latest_post_holder.boxes .post_info_section.post_info_boxes_bottom {
    border: 0;
}

.latest_post_holder.boxes.has_background .latest_post,
.latest_post_holder.boxes .latest_post {
    //padding-top: 16px;
}

.sp_post_page .post_text_inner {
  width: 96%;
  margin: 0 auto;
}

.sp_post_page .post_text_inner p {
  max-width: 100%;
  margin-bottom: 16px;
}

.sp_post_page .blog_holder.blog_standard_type article:not(.format-audio) .post_image {
  max-height: 100% !important;
  height: 320px !important;
  margin: 40px auto !important;
  img {
    height: 100%;
  }
}

@media (min-width:1200px){
  .title_subtitle_holder {
    width: 100%;
  }
}

@media (max-width:1280px){
  .sp_post_page .title_subtitle_holder {
      width: 65%;
  }
}

@media (max-width:1184px){
  .sp_post_page .title_subtitle_holder {
      width: 75%;
  }
}


@media (max-width: 768px){

  .sp_post_page .blog_holder article .post_content_holder {
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
  }
  .sp_post_page .blog_holder.blog_standard_type article:not(.format-audio) .post_image {
    height: 225px !important;
  }

  .sp_post_page .title_subtitle_holder {
      width: 100%;
  }

  .sp_post_page .title h1 {
    line-height: 40px;
    span {
      font-size: 25px;
    }
  }

  #Layer_1 {
    width: 150px !important;
  }

  .sp_post_page .blog_holder.blog_standard_type article:not(.format-audio) .post_image {
    margin: 20px auto !important;
  }
}


@media only screen and (max-width: 480px) {
    .sp_post_page .title h1 {
      line-height: 30px;
      span {
        font-size: 18px;
      }
    }

    #Layer_1 {
    width: 135px !important;
  }
}

.separator_transparent {
    width: 100%;
    height: 20px;
    background-color: transparent;
}

.sp_post_page .two_columns_article article,
.sp_post_page .three_columns_article article {
    display: block;
    float: left;
    overflow: hidden;
    box-sizing: border-box;
    height: 580px;
}

.two_columns_article article {
    width: 50%;
}

.two_columns_article article:nth-child(2n + 1) {
    padding-right: 22.5px;
}

.two_columns_article article:nth-child(2n + 2) {
    padding-left: 22.5px;
}

.two_columns_article article.format-quote .post_text_inner {
    width: 100% !important;
}

.three_columns_article article {
    width: 33% !important;
    padding-right: 20px;
}

.three_columns_article article .qbutton.small,
.three_columns_article article .social_share_holder > a {
    padding-right: 12px !important;
    padding-left: 12px !important;
}

.two_columns_article .column_inner .post_text_inner {
    width: 100%;
}

/* Related articles */


.related_articles ul.related_post li {
  width: 110px !important;
  img {
    width: 100% !important;
    height: 80px !important;
  }
  .wp_rp_title {
    text-align: left;
    font-family: $primary-font-book;
    text-transform: uppercase;
    font-size: 11px !important;
  }
}
.related_articles h5 {
    padding-bottom: 30px;
    font-family: $primary-font-bold;
    padding-bottom: 10px;
}

.related_articles h6 a {
    color: $primary-color;
}
.related_articles > .wp_rp_vertical {
  text-align: center;
}

// post tags head
h6.single_tags_heading, .author_description{
  display: none !important;
}

.blog_holder article .post_info>div.post_info_author_holder:first-child {
    padding: 0;
}

.single-blog-info {
  margin-top: -5px;
}

.read_more_wrapper a, .social_share_title, .social_share_icon {
    color: $primary-color;
}
