
.page-template-page-contact {
	h3 {
		font-size: 22px;
	}
	h2 {
		font-size: 19px;
	}
	h5 {
		font-size: 14.5px;
	}
	h3, h2, h5 {
		font-family: $primary-font-bold;
	}
	.wpb_single_image .wpb_wrapper {
	    text-align: center;
	}
	.wrapper {background: #fff;}
	.header_full_width {background: #F3F3F3 !important;}
	header.sticky .header_inner {background: transparent;}
	.paspartu_inner {background: transparent;}
	.content {
		background: #fff;
		h3.contact-title {
			text-align: center;
			margin-top: 50px;
			margin-bottom: 40px;
			position: relative;
			&:after {
				@include separator(6.5%, 34px, 0, #e8168b);
			}
		}
		h2 {
			margin-bottom:30px;
			background: #fff;
			line-height: 75px !important;
		}
		.col-left, .col-right {
			width: 49%;
			min-height: 1545px;
		}
		.col-left{
			float: left;
		}
		.col-right{
			float: right;
		}
		.big-row {
			p a {
				font-family: $primary-font-book;
				&:hover {
					color: #fff;
				}
			}
			.col-left, .col-right {
				margin-bottom: 40px;
				padding: 0 !important;
				.sp-margin{margin-bottom: 15px;}
			}
			.contact-directions h5 {
				position: relative;
				margin: 0 0 35px;
				&:after {
					@include separator(15%, 34px, 0, #e8168b);
				}
			}
			.vc_single_image-wrapper {
				margin:10px 0 20px 0;
				width: 90%;
				.vc_single_image-img {
					max-height: 280px;
				}
			}
			.sp-wrapper {
				min-height: 310px;
			}
			.sp-wrapper .wpb_wrapper {
				overflow: hidden;
				width: 90%;
				margin: 0 auto;
				p, .description {
					float: left;
				}
				p:first-child {
					width: 73%;
					img {
						width: 100%;
					}
				}
				.description {
					width: 24%;
					margin-left: 3%;
					h5 {
						margin-bottom: 20px;
					}
				}
			}
		}
		.contact-info p {
			font-size: 10px;
			margin-bottom: 20px;
		}
		.big-row h5 ~ p {
			font-size:11px;
			line-height: 1.5;
		}
	}
}

@media (max-width:1000px){
	.page-template-page-contact {
		.content .big-row .sp-wrapper {min-height: 385px;}
		.content .big-row .sp-wrapper .wpb_wrapper {
			overflow: hidden;
			width: 90%;
			margin: 0 auto;
			p, .description {
				float: left;
			}
			p:first-child {
				width: 100%;
				img {
					width: 100%;
				}
			}
			.description {
				width: 100%;
				margin: 25px 0;
				h5 {
					margin-bottom: 20px;
					text-align: center;
				}
				p {
					float: none;
					text-align: center;
				}
			}
		}
		.content .col-left, .content .col-right {
			min-height: 1762px;
		}
	}
}

@media (max-width: 768px){
	.page-template-page-contact {
		.content {
			h2 {
				background: #F3F3F3;
				margin-top: 30px;
				line-height: 1em !important;
			}
			.col-left, .col-right {
				width: 100%;
			}
			.col-right {
				margin-top: 30px;
			}
		}
	}
}

