footer {
	.footer_top_holder .footer_top:not(footer_top_full) .container_inner {
		padding:35px 0 20px;
	}
	.container {
		max-width: 90%;
		margin: 0 auto;
		.textwidget {
			p {
				font-family: $primary-font-bold;
				font-size: 12px;
				color:#fff;
				opacity: 0.9;
				text-transform: uppercase;
				a {
					font-family: $primary-font-extra_light;
					font-size: 12px;
					color: #a1a1a1;
					text-transform: lowercase;
					&:hover {
						color: #fff;
					}
				}
			}
		}
		.eltd_column.column3 .textwidget{
			//float: right;
		}
		.three_columns>.column1, .three_columns>.column2,
		.three_columns>.column3 {
			min-height: 20px !important;
			height: 28px;
			margin-bottom: 0;
			.textwidget {
				float: none;
			}
			.column_inner {
				padding: 0;
			}
		}
		.three_columns>.column3 {
			height: 40px;
		}
	}
	.footer_bottom_holder_inner .textwidget p {
		font-size: 7px !important;
		color: #a1a1a1 !important;
		font-weight: normal;
		a {
			@extend p;
		}
	}
}

@media (max-width: 768px){
	footer .container {
		.three_columns>.column1, .three_columns>.column2,
		.three_columns>.column3 {
			width: 100%;
			text-align: center;
			min-height: 20px !important;
			height: 28px;
			margin-bottom: 0;
			.textwidget {
				float: none;
				p {
					font-size: 11px;
					a {
						font-size: 11px;
					}
				}
			}
			.eltd_icon_shortcode.square i {
				font-size: 15px !important;
			}
		}
		.three_columns>.column3 {
			height: 40px;
		}
		.container_inner {
			padding: 0;
		}
	}
	footer {
		.footer_top_holder .footer_top:not(footer_top_full) .container_inner{
			padding: 13px 0 10px 0;
		}
	}
}



// // custom footer Grid

// .footer_top {
// 	max-width:1280px;
// 	margin: 0 auto;
// }

// .custom_footer .three_columns .column1{
//     float: left;
//     width: 25%;
// }

// .custom_footer .three_columns .column2 {
//     float: left;
//     width: 50%;
// }

// .custom_footer .three_columns .column2 .latest_projects {
//     max-width: 100%;
//     margin: auto;
//     padding: 0 50px ;
// }

// .custom_footer .three_columns .column3 {
//     float: left;
//     width: 25%;
// }

// .custom_footer .three_columns .column3 > div {
//     float: right;

//     width: 180px;
// }

// @media only screen and (max-width: 800px) {
// 	.custom_footer .three_columns .column1,
// 	.custom_footer .three_columns .column2,
// 	.custom_footer .three_columns .column3,
// 	.custom_footer .latest_projects {
// 		width: 100%;
// 	}

// 	.custom_footer .three_columns .column2 .latest_projects {
// 	    max-width: 100%;
// 	    margin: 30px auto;
// 	    padding: 0;
// 	}

// 	.custom_footer .three_columns .column3 > div {
// 	    float: none;

// 	    width: 100%;
// 	}
// }

