// change colors of sticky header

header {
    display: block;
    max-width: 100%;
    margin: 0 auto;
    .header_full_width {
      max-width: 1200px;
      margin: 0 auto;
    }
}
header.sticky {
  .header_inner{background: #0a0a0a;}
}

.page_header.sticky nav.main_menu > ul > li > a > span.item_inner > span{
  color: #fff;
  border-color: #fff;
}
header.sticky nav.main_menu > ul > li > a:hover span, header.sticky nav.main_menu > ul > li.active > a span, header.sticky nav.main_menu > ul > li:hover > a > span, header.sticky nav.main_menu > ul > li > a:hover > i, header.sticky nav.main_menu > ul > li:hover > a > i, header.sticky nav.main_menu > ul > li.active > a > i, .light.sticky nav.main_menu > ul > li > a:hover, .light.sticky nav.main_menu > ul > li.active > a, .dark.sticky nav.main_menu > ul > li > a:hover, .dark.sticky nav.main_menu > ul > li.active > a{
	color: #fff !important;
}

.page_header.sticky .side_menu_button_wrapper .side_menu_button a span.eltd_icon_font_elegant.icon_search{
    color: #fff;
}

.page_header.sticky .eltd_logo img.light {
  opacity: 1;
}

.page_header.sticky .eltd_logo img.dark {
  opacity: 0;
}
