.section.home-front-page {
	padding-top: 0 !important;
	.wpb_wrapper h4{
		font-size: 18px;
		margin-top: 35px;
		margin-bottom: 25px;
		font-family: $primary-font-bold;
		letter-spacing: 14px; 
	}
	.wpb_wrapper h3 {
		font-size: 55px;
		font-family: $primary-font-extra_light;
		margin-bottom: 35px;
		strong {
			font-family: $primary-font-bold;
		}
	}
	p { 
		font-size: 12px;
	}
	p.sp-msg {
		font-family: $primary-font-bold;
		margin-bottom: 35px;
		text-transform: uppercase;
	}
}

.home.page .eltd_slider {
	h2.eltd_slide_title {
		font-size: 18px !important;
		line-height: 40px !important;
	}
	.carousel-inner .item .image {
		background-size: 100% 100%;
	}
	.carousel-inner .item .image_pattern {
		background-size: cover !important;
	}
}

.home.page .eltd_slider {
	.carousel-inner .video {
		max-width: 1280px;
	}
	#eltd-home-slider {
		max-height: 740px;
	}
	.carousel.fade .item {
		max-height: 740px !important;
	}
    @include breakpoint("large") {
        #eltd-home-slider {
			max-height: 740px;
		}
		.carousel.fade .item {
			max-height: 740px !important;
		}
    }
    @include breakpoint("desktop") {
        #eltd-home-slider {
			max-height: 640px;
		}
		.carousel.fade .item {
			max-height: 640px !important;
		}
    }
    @include breakpoint("tablet") {
        #eltd-home-slider {
			max-height: 440px;
		}
		.carousel.fade .item {
			max-height: 440px !important;
		}
    }
    @include breakpoint("tablet-down"){
        #eltd-home-slider {
			max-height: 440px;
		}
		.carousel.fade .item {
			max-height: 440px !important;
		}
    }
    @include breakpoint("phone") {
        #eltd-home-slider {
			max-height: 440px;
		}
		.carousel.fade .item {
			max-height: 440px !important;
		}
    }
}

@media (max-width: 480px){
	.section.home-front-page{
		.wpb_wrapper h3 {
			font-size: 45px;
		}
	}
	.home.page .eltd_slider{
		.slide_buttons_holder a.qbutton {
			font-size: 18px !important;
    		width: 50% !important;
    		text-align: center;
    		padding: 10px !important;
		}
		h2.eltd_slide_title {
			font-size: 15px !important;
			line-height: 40px !important;
		}
		h3.eltd_slide_text {
			font-size: 16px !important;
		}
		.slider_content_outer {
			width: 308px !important;
		}
	}
}