.single-team {
	h3.tema_title {
		margin-bottom: 15px;
		strong {
			font-weight: normal;
			font-size: 12px;
			font-family: $primary-font-medium;
		}
	}
	.team_image {
		background: rgba(0,0,0,0.5);
		background-repeat: no-repeat !important;
		height: 350px;
		background-size: cover !important; 
		background-position: 0 !important;
	}
}

.team_single {
	width: 60%;
	margin: 0 auto;
}

.vc_row.wpb_row.section.leadership-pg {
	.sp-title {
		h3 {
			strong {
				font-weight: normal;
				font-size: 12px;
				font-family: $primary-font-medium;
			}
		}
	}
	.vc_single_image-wrapper {
		width: 100%;
		height: 400px;
		img {
			height: 100%;
			width: 100%;
		}
	}
	.contact {
		.address , .phone {
			float: left;
			margin-right: 10%;
			h6 {
				letter-spacing: 0;
				margin-bottom: 20px;
			}
		}
	}
}

@media (max-width: 1000px){
	.vc_row.wpb_row.section.leadership-pg {
		.sp-title {
			height: 50px;
			position: relative;
			h3 strong {
				position: absolute;
				left: 0;
				bottom: 0;
			}
		}
		.contact {
			.address , .phone {
				float: none;
				margin-bottom: 20px;
				h6 {margin-bottom:0;}
			}
		}

	}
}
@media (max-width: 900px){
	.single-team .team_image {
		height: 250px;
	}
	.single-team .tema_title {
		font-size: 26px;
		width: 71%;
	}
}
@media (max-width: 500px){
	.team_single {
		width: 93%;
	}
	.single-team .team_image {
		height: 160px;
	}
	.single-team .tema_title {
		font-size: 22px;
		width: 50%;
	}
}
