.content.news_single {
	width: 55%;
	.news_title {
		font-family: $primary-font-bold;
		width: 120%;
		margin-left: -10%;
		text-align: center;
		margin-bottom: 30px;
		font-size: 25px;
		line-height: 1.3;
	}
	.news_image {
		background: transparent;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		height: 260px;
	}
	.blog_holder.blog_standard_type article
	.read_more_wrapper {
		margin: 20px 0;
	}
	.blog_holder.blog_standard_type article:not(.format-audio)
	.post_image.news_image {
		margin-bottom: 5px !important;
	}
}

@media (max-width: 768px){
	html .single-news .content.news_single {
		margin: 0 auto !important;
		.news_title {
			font-size: 18px;
			margin-bottom: 15px;
		}
		.news_image {
			height: 180px;
		}
		.blog_holder.blog_standard_type article
		.read_more_wrapper {
			margin-top: 10px;
			margin-bottom: 10px;
		}
	}
}