.page-template-blog-news{
	.paspartu_inner {
		background: #fff;
		.container_inner.default_template_holder {
			padding-top: 0 !important;
		}
		.blog_holder {
			background: #fff;
		}
	}
	.content {
		width: 920px;
		margin: 0 auto;
		top: 80px;
		background: #fff !important;
		padding-bottom: 80px;
	}
	article.news {
		margin-bottom: 80px !important;
		.post_news_image{
			width: 130px;
			height: 140px;
			float: left;
			//background: url(http://dieste.hangar.agency/wp-content/uploads/2016/03/logo-fiap.jpg) !important;
			background-position: 0;
			background-size: contain;
			background-repeat: no-repeat !important;
			margin-right: 6%;
			img {
				//display: none;
				width: 100%;
				height: 100%;
			}
		}
		.post_text {
			max-width: 655px;
			width: 70%;
			float: left;
			.post_news_info {
				font-family: $primary-font-light;
				font-size: 10px;
				margin-top: -35px;
			}
			h2 {
				font-size: 22px;
				font-family: $primary-font-bold;
				margin-top: 10px;
			}
			p {
				font-family: $primary-font-light;
			}
		}
		.read_more_wrapper.sp-btns-wrapper {
			min-width: 283px;
			width: 310px;
		}
		.read_more_wrapper a {
			font-family: $primary-font-bold;
		}
	}
}

@media (max-width: 1280px) {
	.page-template-blog-news {
		.content {
			width: 820px;
		}
	}
}

@media (max-width: 940px) {
	.page-template-blog-news {
		.content {
			width: 768px;
		}
	}
}


@media (max-width: 768px){
	.page-template-blog-news .content {
		width: 90%;
		margin: 0 auto !important;
		top: 40px;
	}
	.page-template-blog-news {
		article.news {
			margin-bottom: 40px !important;
			.post_news_image {
				width: 60%;
				height: 150px;
				margin-bottom: 40px;
			}
			.post_text {
				width: 100%;
			}
		}
	}
}