// portafolio for work detail pages

.info.portfolio_single_content {
	margin-top: -130px;
}

.single-portfolio_page h3, .single-portfolio_page p strong {
	font-size: 25px;
}
.single-portfolio_page .wpb_wrapper p:first-child {
	margin-bottom:20px !important;
}
.portfolio_single_content .wpb_wrapper h3 {
	font-weight: bold !important;
	letter-spacing: 0px;
	margin-bottom: 10px;
}

.header-quote {margin:30px 0 35px !important;}

.single-portfolio_page{
	.flex-container{width: 100%;}
	.portfolio_navigation, .blog_navigation {
		display: none;
	}
	.flex-container .full_section_inner .info-box {
		-webkit-flex: 1;
	}
}


@media (max-width: 1000px){
	.info.portfolio_single_content {
		margin-top: 0;
	}
}

@media (max-width: 768px){
	.portfolio_single_content p {
		text-align: center;
	}
}