div.privacy-policy-pg {
	background: #fff;
	margin: auto !important;
	margin-bottom: 20px !important;
	div.header {
		margin-top: 50px;
	}
	p {
		font-size: 14px;
		margin-bottom: 16px;
	}
	h3 {
		margin-bottom: 30px !important;
		font-family: $primary-font-bold !important;
		font-size: 22px;
		position: relative;
		&:after {
			content:"";
			position: absolute;
			top: 125%;
			left: 0;
			right: 0;
			width: 10%;
			border-bottom: 2px solid #e73640;
			margin: 0 auto;
		}
	}
	h6 {
		font-size: 14px;
	}
	.descript-content-1 ul {
		margin-top: 15px !important;

	}
	ul {
		margin-bottom: 30px !important;
		list-style: none;
		li {
			font-family: $primary-font-book !important;
			margin-left: 50px;
			&:before{
				content: "-";
				position: absolute;
				left: 0;
			}
		}
	} 
	.p-margin p {
		margin: 0 auto 30px auto; 
	}
	.btn-bottom-row {
		margin: 30px auto !important;
	}
	.left-arrow {
		transition: all 0.2s ease-in;
		font-size: 11px;
		img {
			width: 19px;
		    position: absolute;
		    left: -15px;
		    top: -1px;
		}
		&:hover {
			color:#606060;
			opacity: 0.7;
		}
	}
	.wpb_content_element.p-arrow-left {
        margin-bottom: 10px !important;
    }
}

div.privacy-policy-pg {
	padding: 0 17%;
	width: 67%;
	margin-top: 50px !important;
    @include breakpoint("large") {
        padding: 0 17%;
        margin-top: -50px !important;
    }
    @include breakpoint("desktop") {
        padding: 0 15%;
    }
    @include breakpoint("tablet") {
        padding: 0 14%;
    }
    @include breakpoint("tablet-down"){
        padding: 0 14%;
    }
    @include breakpoint("phone") {
        padding: 0 14%;
        
    }
}


