// Styles for blog standard page in provoke weekly
// line guides:
// pargraph-dynamic-height line 32


$font-size: 13px;
$line-height: 22px;
$lines-to-show: 7;

.sd-home .wpb_wrapper > h6 {
  font-family: $primary-font-bold;
}

.sd-home .blog_holder {
  width: 62%;
  margin: 0 auto;
  article {
    padding: 0 3%;
    width: 50%;
    position: relative;
    float: left;
    box-sizing: border-box;
    height: 578px;
    margin-bottom: 40px !important;
    .read_more_wrapper {
      position: absolute;
      bottom: 0;
      a.read_more_button {font-family: $primary-font-bold;}
    }
  }
}

@media(max-width: 1100px) and (min-width: 768px){
  .blog_social_share_wrapper {
    clear: none !important;
    margin-top: 0 !important;
  }
}

// pargraph-dynamic-height

.sd-home .post_text_inner p h2 {
  line-height: 23px !important;
}

.sd-home .blog_holder.blog_standard_type article:not(.format-quote):not(.format-link) h2 {
  line-height: 23px;
}

.dynamic_height_one {
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  max-width: 400px;
  height: auto; //Fallback for non-webkit
  font-size: $font-size;
  line-height: $line-height;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  margin-top: 0;
  height: 217px;
}
.dynamic_height_two {
  @extend .dynamic_height_one;
  -webkit-line-clamp: 9;
  margin-top: 0;
  height: 198px;
}
.dynamic_height_three {
  @extend .dynamic_height_one;
  -webkit-line-clamp: 8 !important;
  margin-top: 0;
  height: 173px;
}
.dynamic_height_four {
  @extend .dynamic_height_one;
  -webkit-line-clamp: 7;
  margin-top: 0;
  height: 148px;
}
.dynamic_height_five {
  @extend .dynamic_height_one;
  -webkit-line-clamp: 6;
  margin-top: 0;
  height: 148px;
}
.dynamic_height_six {
  @extend .dynamic_height_one;
  -webkit-line-clamp: 5;
  margin-top: 0;
  height: 148px;
}
.dynamic_height_seven {
  @extend .dynamic_height_one;
  -webkit-line-clamp: 4;
  margin-top: 0;
  height: 148px;
}


.sd-home .blog_standard_type article h2 a{
  font-family: $primary-font-book !important;
}

.sd-home .blog_standard_type article .post_info {
  margin-top: 15px;
  position: absolute;
  bottom: 33px;
}

.sd-home .blog_holder article .post_image,
.sd-home .blog_holder article .post_image>a,
.sd-home .blog_holder article .post_image img {
  height: 100%;
}

.content .container.sd-home .container_inner>p {
  display: none !important;
}

// categories nav

.menu-provoke-container{
  width: 100%;
  margin: 0 auto;
  margin-bottom: 30px;
  text-align: center;
    #provoke-menu {
      width: 100% !important;
    }
    li {
      display: inline !important;
      margin: 0 19px !important;
    }
    li a {text-transform: uppercase;}
    li:first-child {
      position: relative;
      pointer-events: none;

    }
    li:first-child:after {
    content: "|";
    position: absolute;
    left: 115%;
    }
    li:nth-child(2) > a:hover,li:nth-child(2).active a{
      border-bottom: 2px solid $all-tag-color;
    }
    li:nth-child(3) > a:hover, li:nth-child(3).active a{
      border-bottom: 2px solid $brands-tag-color;
    }
    li:nth-child(4) > a:hover, li:nth-child(4).active a{
      border-bottom: 2px solid $culture-tag-color;
    }
    li:nth-child(5) > a:hover, li:nth-child(5).active a{
      border-bottom: 2px solid $entertainment-tag-color;
    }
    li:nth-child(6) > a:hover, li:nth-child(6).active a{
      border-bottom: 2px solid $ideas-tag-color;
    }
    li:nth-child(7) > a:hover, li:nth-child(7).active a{
      border-bottom: 2px solid $provoque-tag-color;
    }
    li:nth-child(8) > a:hover, li:nth-child(8).active a{
      border-bottom: 2px solid $tech-tag-color;
    }
 }

.sd-home .blog_holder.blog_standard_type article .audio_image, 
.sd-home .blog_holder.blog_standard_type article:not(.format-audio) .post_image {
  overflow: hidden;
  @include breakpoint("large") {
    height : 186px;
  }
  @include breakpoint("desktop") {
    height : 160px;
  }
  @include breakpoint("tablet") {
    height : 150px;
  }
  @include breakpoint("tablet-down"){
    height : 150px;
  }
  @include breakpoint("phone") {
    height : 150px;
  }
}

@include breakpoint("large") {
  // background-color: pink;
  .sd-home .blog_holder {

      article {
        .read_more_wrapper {
          // background-color: pink;
        }
    }
  }
}
@include breakpoint("desktop") {
  // background-color: red;
  .sd-home .blog_holder {

      article {
        .read_more_wrapper {
          // background-color: red;
        }
    }
  }
}
@include breakpoint("tablet") {
  // background-color: blue;
  .sd-home .blog_holder {

      article {
        min-height: none;
        height: auto;
        width: 100%;
        margin-bottom: 100px !important;

        .post_info {
          position: relative;
          bottom: 0;
        }

        .post_text_inner {
          p.dynamic_height_one {
            height: auto !important;
          }

          p {
            max-width: none;
            width: 100%;
          }
        }

        .read_more_wrapper {
          bottom: -70px;
          // background-color: blue;

          a {
            text-align: center;
          }
        }
    }
  }
}
@include breakpoint("tablet-down"){
  // background-color: yellow;
  .sd-home .blog_holder {

      width: 80%;

      article {
        min-height: none;
        height: auto;
        width: 100%;
        margin-bottom: 112px !important;

        .post_info {
          position: relative;
          bottom: 0;
        }

        .post_text_inner {
          p.dynamic_height_one {
            height: auto !important;
          }

          p {
            max-width: none;
            width: 100%;
          }
        }

        .read_more_wrapper {
          bottom: -80px;
          // background-color: yellow;

          a {
            text-align: center;
          }
        }
    }
  }
}
@include breakpoint("phone") {
  // background-color: green;
  .sd-home .blog_holder {

      width: 96%;

      article {
        min-height: none;
        height: auto;
        width: 100%;
        margin-bottom: 140px !important;

        .post_info {
          position: relative;
          bottom: 0;
        }

        .post_text_inner {
          p.dynamic_height_one {
            height: auto !important;
          }

          p {
            max-width: none;
            width: 100%;
          }
        }

        .read_more_wrapper {
          bottom: -100px;

          a {
            text-align: center;
          }
        }
    }
  }
}


