// all extra media queries for theme goes here


// homepage
@media only screen and (max-width: 480px) {
    .paspartu_enabled div.grid_section.home-front-page .section_inner {
        width: 280px;
    }
}


// main-content-container
.vc_row.wpb_row.section {
    @media only screen and (max-width: 1000px) {
            padding-top: 0 !important;
    }
}
// footer

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 22px;
        line-height: 26px;
    }
    h5 {
        font-size: 12px;
        font-weight: normal !important;
        line-height: 20px !important;
    }
}


@media only screen and (max-width: 600px) {
    .two_columns_article article,
    .three_columns_article article {
        width: 100%;
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
}

// contact-page
@media only screen and (max-width: 480px) {
    .name_fields .col {
        width: 100%;
    }
}

.name_fields .col {
    width:48%;
    @include breakpoint("phone") {
        width:100%;
    }
}

// work-page

.full_width .work_portafolio .projects_masonry_holder .portfolio_masonry_item {
    width:33.33%;
    height:300px !important;
    box-sizing: border-box;
    @include breakpoint("large") {
        width:33.33%;
        height:300px !important;
    }
    @include breakpoint("desktop") {
        width:33.33%;
        height:250px !important;
    }
    @include breakpoint("tablet") {
        width:33.33%;
        height:200px !important;
    }
    @include breakpoint("tablet-down"){
        width:50%;
        height:250px !important;
    }
    @include breakpoint("phone") {
        width:100%;
        height:77vw !important;
    }
}



