// Custom styles for theme


// reset clasess
.container_inner {
  width: 100% !important;
}

.content {
  max-width:1280px;
  margin:0 auto;
}


.paspartu_inner {
  background: $background-color;
}


.content {
  margin-top: 0 !important;
}

.two_columns_66_33>.column2>.column_inner {
    padding: 0 65px 0 50px;
}
div.vc_row {
  margin-left: 0;
  margin-right: 0;
}

.theme-default .nivoSlider {
  box-shadow: none !important;
}

div.vc_col-sm-12 {
  padding: 0;
}

// added prefix for moz and IE
.ajax_loader .lines .line1,
.ajax_loader .lines .line2,
.ajax_loader .lines .line3,
.ajax_loader .lines .line4{
  animation: lines_spin 1.5s infinite linear;
  animation-timing-function: ease;
  -webkit-animation: lines_spin 1.5s infinite linear;
  -webkit-animation-timing-function: ease;
  -moz-animation: lines_spin 1.5s infinite linear;
  -moz-animation-timing-function: ease;
}

.ajax_loader .lines .line2{
  animation-delay: 0.1s;
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
}

.ajax_loader .lines .line3 {
  animation-delay: 0.2s;
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
}

.ajax_loader .lines .line4 {
  animation-delay: 0.3s;
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
}


@-webkit-keyframes lines_spin{
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes lines_spin{
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-o-keyframes lines_spin{
  100% {
    -o-transform: rotate(360deg);
  }
}

@keyframes lines_spin{
  100%{
    transform: rotate(360deg);
  }
}
/* lines - end*/


// logo_dieste

.eltd_logo a {
  height: 37px !important;
}

.header_bottom >.mobile_menu {
  padding-bottom: 10px
}

// social buttons
.read_more_wrapper{
  margin-top: 20px;
  .social_share_holder{
    a{
      overflow: hidden;
      position: relative;
      margin: 0;
      padding: 0 23px;
      width: auto;
      text-decoration: none;
      cursor: pointer;
      outline: 0;
      font-size: 11px;
      text-align: left;
      line-height: 40px;
      font-weight: 600;
      letter-spacing: 2px;
      text-transform: uppercase;
      border: 1px solid #c7c7c7;
      &:hover{
        border: 1px solid #121212;
        background: #121212 !important;
        .social_share_title {
          color: #fff;
        }
        .social_share_icon {
          color: #fff;
        }
      } 
    }
    &:hover a.share_link {
      background: #121212;
      border: none !important;
    }
    .social_share_icon{
      float: right;
      line-height: 40px;
    }
    .social_share_title{
      margin: 0 10px 0 0;
    }
  }
  .social_share_dropdown{
    ul{
      a{
        border: 1px solid #000000;
      }
      .social_network_icon{
        color: #FFFFFF;
      }
      li.facebook_share:hover a.share_link .social_network_icon.social_facebook {
        color: $facebook-tag-color !important;
      }
      li.twitter_share:hover a.share_link .social_network_icon.social_twitter {
        color: $twitter-tag-color !important;
      }
      li.linkedin_share:hover a.share_link .social_network_icon.social_linkedin {
        color: $linkedin-tag-color !important;
      }
      li.email_share:hover a.share_link .social_network_icon {
        color: $email-tag-color !important;
      }
    }
  }
  .blog_social_share_wrapper {
    a.read_more_button {
      font-family: $primary-font-bold;
      padding: 0;
    }
  }
}

// back and share buttons
.read_more_wrapper.sp-btns-wrapper {
    margin: 50px 0;
    .blog_social_share_wrapper{
      width: 255px;
      line-height: 0;
      margin: 0 auto;
      float: none !important;
      .read_more_button.back_btn {
        float: left;
        text-align: center;
        width: 120px;
        img {
          width: 20px;
          position: absolute;
          top: 50%;
          left: 10%;
          transform: translateY(-50%);
        }
      }
      .portfolio_share, .blog_share {
        float: right;
        .social_share_holder {
          margin-left: 0;
        }
      }
    }
    div.social_share_dropdown {
      ul li {
        margin-left: 0;
      }
    }
}

.back_btn {
  display: block;
  position: relative;
  text-align: center;
  width: 107px;
  padding: 8px 0;
  font-size: 11px;
  border: 1px solid #ccc;
  &:hover {
    color: #fff;
    background-color: #000;
    border-color: #000;
  }
  img {
    width: 20px;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
  }
}












