/// portafolio slider at line 90


.about-banner-text h2, .section.talent-info-sec h3,
.talent-info-sec.brands-info h3, .talent-info-sec.team-info h3,
div.instagram-feed-sec .wpb_wrapper h3 {
  font-family: $primary-font-bold  !important;
  font-size: 22px;
  position: relative;
  line-height: normal;
  margin-bottom: 55px;
  &:after {
    @include separator(67px, 195%);
  }
}
.talent-info-sec.team-info h3 {margin-bottom:0;}
.talent-info-sec.provoke-info h3:after {
  border-color: $culture-tag-color !important;
}
.talent-info-sec.services-info h3:after {
  border-color: $entertainment-tag-color !important;
}
.talent-info-sec.brands-info h3:after {
  border-color: $ideas-tag-color !important;
}
.talent-info-sec.team-info h3:after {
  border-color: #a3c347 !important;
}
div.instagram-feed-sec .wpb_wrapper h3:after {
  border-color: $tech-tag-color !important;
}

.section.talent-info-sec.provoke-info {
  background: #ffffff;
  margin-top: -8px !important;
  padding: 0 21%;
  h3 {margin-top: 100px;}
  p {margin-bottom: 20px;}
  p:last-child {
    margin-bottom: 61px !important;
  }
}

.section.talent-info-sec {
  margin-bottom: 61px !important;
}

.services-info-row-1 {
  padding: 0 21%;
}

.services-list .services-info-row-2 {
  overflow: hidden;
  margin-top: 55px;
  padding: 0 10%;
}

.services-list .services-info-row-2 ul {
  width: 33.33%;
  float: left;
  li {
    font-family: $primary-font-medium !important;
    text-align: center;
    list-style: none;
    margin-bottom: 10px;
  }
}

.talent-info-sec.brands-info {
  background: #ffffff;
  padding-bottom: 61px;
  .about-brand-heading {
    margin-top: 61px;
    padding: 0 21%;
  }
  p {
    margin-bottom: 20px;
  }
}
.about-team-heading {
  padding: 0 21%;
}
.talent-info-sec.services-info p {
	margin-bottom:35px !important;
}

.about-banner-text h2, .section.talent-info-sec h3,
.talent-info-sec.brands-info h3, .talent-info-sec.team-info h3 {
    font-size: 22px;
    @include breakpoint("tablet") {
        font-size: 20px;
    }
    @include breakpoint("tablet-down"){
        font-size: 20px;
    }
    @include breakpoint("phone") {
        font-size: 20px;
        &:after {
	    @include separator(67px, 130%);
	  }
    }
}


