// Reset for Custom Font Dieste

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $primary-font-book;
}

p,
blockquote,
legend,
label,
caption,
input[type="text"],
label {
    font-family: $primary-font-book;
}

li, a, span {
  font-family: $primary-font-bold;
  // color: $primary-color !important;
}

span.arrow_carrot-left,span.arrow_carrot-right,.social_share_dropdown span{
      font-family: 'ElegantIcons' !important;
}

.post_category a, .post_info_author_holder a {
  font-family: $primary-font-book ;
}

.textwidget,
.post_info {
    font-family: $primary-font-book ;
}
