// // Widget-category list custom colors

// .widget_categories ul li:nth-child(1),
// .widget_categories ul li:nth-child(1) a{
//   color: $all-tag-color !important;
// }
// .widget_categories ul li:nth-child(2),
// .widget_categories ul li:nth-child(2) a{
//   color: $brands-tag-color !important;
// }
// .widget_categories ul li:nth-child(3),
// .widget_categories ul li:nth-child(3) a{
//   color: $culture-tag-color !important;
// }
// .widget_categories ul li:nth-child(4),
// .widget_categories ul li:nth-child(4) a{
//   color: $entertainment-tag-color !important;
// }
// .widget_categories ul li:nth-child(5),
// .widget_categories ul li:nth-child(5) a{
//   color: $ideas-tag-color !important;
// }
// .widget_categories ul li:nth-child(6),
// .widget_categories ul li:nth-child(6) a{
//   color: $tech-tag-color !important;
// }


// // Other Articles widget

// .SummarizePosts_Widget ul {
//   display: block;
//     li {
//       width: 48%;
//       float: left;
//       border-bottom-width: 0 !important;
//       line-height: 1 !important;
//       padding-bottom: 10px;
//     }

//     a.other-article-tittle {
//       display: inline-block;
//       font-size: 10px !important;
//       line-height: 1.5 !important;
//       padding-top: 10px;

//     }

//     .article-wrapper {
//       &:nth-child(2n+1) {
//         padding-right: 5px;
//       }

//       &:nth-child(2n+2) {
//         padding-left: 5px;
//       }
//     }

// }
