// work 
.full_width .work_portafolio .projects_masonry_holder .portfolio_masonry_item {
  position:static !important;
  float:left;
}

.work_portafolio .portfolio_main_holder .item_holder.image_text_zoom_hover .image_holder {
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.work_portafolio .portfolio_main_holder.projects_masonry_holder {
  height:auto !important;
}

.work_portafolio .item_holder.image_text_zoom_hover {
  height:100%;
  width:100%;
  &:hover {
    height:100%;
    width:100%;
  }
}

.work_portafolio .portfolio_main_holder .item_holder.image_text_zoom_hover .text_holder {
  background:rgba(222, 15, 15, 0.5);
}
.work_portafolio .image_holder,.work_portafolio .image,.work_portafolio img {
  height:100% !important;
}

@media (max-width: 1000px){
  .work_portafolio .portfolio_main_holder .item_holder.image_text_zoom_hover .text_holder {
    display: none;
  }
}