@font-face {
    font-family: gothamBlack;
    src: url(../fonts/Gotham-Black.otf);
}

@font-face {
    font-family: gothamBlackItalic;
    src: url(../fonts/Gotham-BlackItalic.otf);
}

@font-face {
    font-family: gothamBold;
    src: url(../fonts/Gotham-Bold.otf);
}

@font-face {
    font-family: gothamBoldItalic;
    src: url(../fonts/Gotham-BoldItalic.otf);
}

@font-face {
    font-family: gothamBook;
    src: url(../fonts/Gotham-Book.otf);
}

@font-face {
    font-family: gothamBookItalic;
    src: url(../fonts/Gotham-BookItalic.otf);
}

@font-face {
    font-family: gothamLight;
    src: url(../fonts/Gotham-Light.otf);
}

@font-face {
    font-family: gothamExtraLight;
    src: url(../fonts/Gotham-ExtraLight.otf);
}

@font-face {
    font-family: gothamExtraLightItalic;
    src: url(../fonts/Gotham-ExtraLightItalic.otf);
}

@font-face {
    font-family: gothamMedium;
    src: url(../fonts/Gotham-Medium.otf);
}

@font-face {
    font-family: gothamMediumItalic;
    src: url(../fonts/Gotham-MediumItalic.otf);
}

@font-face {
    font-family: gothamThin;
    src: url(../fonts/Gotham-Thin.otf);
}

@font-face {
    font-family: gothamThinItalic;
    src: url(../fonts/Gotham-ThinItalic.otf);
}

@font-face {
    font-family: gothamUltra;
    src: url(../fonts/Gotham-Ultra.otf);
}

@font-face {
    font-family: gothamUltraItalic;
    src: url(../fonts/Gotham-UltraItalic.otf);
}
