/* Mobile first queries */

@mixin breakpoint($points) {
    @each $point in $points {
        /* Larger than Desktop HD */
        @if $point == large {
            @media only screen and (min-width: 1200px) {
                @content;
            }
        }

        /* Larger than desktop */
        @else if $point == desktop {
            @media only screen and (min-width: 1001px) and (max-width: 1200px) {
                @content;
            }
        }

        /* Larger than tablet */
        @else if $point == tablet {
            @media only screen and (min-width: 768px) and (max-width: 1000px) {
                @content;
            }
        }

         /* Larger than tablet */
        @else if $point == tablet-down {
            @media only screen and (max-width: 767px) {
                @content;
            }
        }

        /* Larger than mobile */
        @else if $point == phone {
            @media only screen and (max-width: 480px) {
                @content;
            }
        }

        /* phone landscape */
        @else if $point == phone-landscape {
            @media (min-width: 375px) and (max-width: 767px) and (orientation: landscape) {
                @content;
            }
        }
    }
}

// headings separator
@mixin separator($width, $top, $bottom:0, $color:#fff){
    width: $width;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: $top;
    bottom: $bottom;
    content: "";
    border-bottom: 2px solid $color;
}