// colors
$primary-color: #606060;
$secondary-color: #000000;
$white-color: #ffffff;
$background-color: #f3f3f3;
$all-tag-color: #d3d3d3;
$culture-tag-color: #e6212c;
$ideas-tag-color: #a3c347;
$brands-tag-color: #f68f20;
$tech-tag-color: #e8168a;
$entertainment-tag-color: #5261a9;
$provoque-tag-color: #1dadea;

// social 

$facebook-tag-color: $provoque-tag-color;
$twitter-tag-color: $tech-tag-color;
$linkedin-tag-color: $brands-tag-color;
$email-tag-color: $ideas-tag-color;

// Font
$primary-font-black: 'gothamBlack';
$primary-font-black_italic: 'gothamBlackItalic';
$primary-font-bold: 'gothamBold';
$primary-font-bold_italic: 'gothamBoldItalic';
$primary-font-book: 'gothamBook';
$primary-font-book_italic: 'gothamBookItalic';
$primary-font-light: 'gothamLight';
$primary-font-extra_light: 'gothamExtraLight';
$primary-font-extra_light_italic: 'gothamExtraLightItalic';
$primary-font-medium: 'gothamMedium';
$primary-font-medium_italic: 'gothamMediumItalic';
$primary-font-thin: 'gothamThin';
$primary-font-thin_italic: 'gothamThinItalic';
$primary-font-ultra: 'gothamUltra';
$primary-font-ultra_italic: 'gothamUltraItalic';

// utils


